@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Finger+Paint&family=Sarina&display=swap");

/* font-family: 'Bubblegum Sans',
cursive;
font-family: 'Finger Paint',
cursive;
font-family: 'Sarina',
cursive; */

html {
  font-size: 10px;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(3, 14, 1);
  overflow-x: hidden;
}

/* Header */

.header-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background: url(../public/forest.jpg) center/cover;
  filter: brightness(60%);
}

.header-logo {
  position: absolute;
  top: 3rem;
  left: 3rem;
  font-family: "Sarina", sans-serif;
  font-size: 5rem;
  color: rgba(145, 247, 105, 0.594);
  z-index: 1;
}

.header-about-me {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 66%;
  height: 66%;
  padding: 3rem;
  background-color: rgba(8, 25, 3, 0.612);
  font-family: "Bubblegum Sans", sans-serif;
  font-size: 2.5rem;
  color: rgb(205, 241, 207);
  line-height: 3rem;
  border-radius: 1.2rem;
  filter: contrast(150%);
}

.milena {
  margin: 1rem;
  font-size: 3rem;
  font-weight: bolder;
  color: rgb(145, 247, 105);
}

.my-world {
  margin-top: 1rem;
  font-size: 2rem;
  color: rgb(145, 247, 105);
}

@media screen and (min-width: 750px) {
  .header-bg {
    background-image: url(../public/forest.jpg);
    background-position: 60% 75%;
  }

  .header-about-me {
    width: 70%;
    height: 70%;
  }

  .my-world {
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 1024px) {
  .header-about-me {
    width: 50%;
    height: 60%;
    font-size: 3rem;
  }
}
